@model IEnumerable<Project>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["status"] != null)
{
    @section Scripts {
    <script>
        toastr.success("@TempData["status"]");
        </script>
    }
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProjectID
                </td>
                <td>
                    @item.ProjectNo
                </td>
                <td>
                    @item.ProjectName
                </td>
                <td>
                    @item.Price TL
                </td>
                <td>
                    @item.Duration saat
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.ProjectID" class="btn btn-sm btn-primary">
                            Edit
                        </a>
                        <a asp-controller="Projects" asp-action="Delete" asp-route-id="@item.ProjectID" class="btn btn-sm btn-danger">Sil</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
