@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["status"] != null)
{
    @section Scripts {
    <script>
        toastr.success("@TempData["status"]");
        </script>
    }
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TCKN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.EmployeeID
                </td>
                <td>
                    @item.TCKN
                </td>
                <td>
                    @item.RegNo
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.Mail
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Wage
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.Birthday
                </td>
                <td>
                    @item.Department.DepartmentName
                </td>
                <td>
                    @item.Company.CompanyName
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.EmployeeID" class="btn btn-sm btn-primary">
                            Edit
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.EmployeeID" class="btn btn-sm btn-danger">Sil</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
