@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Skill>
<h1>Skill Listesi</h1>
<a class="btn btn-outline-primary" asp-controller="Skills" asp-action="Create">Beceri Ekle</a>
<table class="table table-hover table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.SkillID)</th>
            <th>@Html.DisplayNameFor(m => m.SkillName)</th>
            <th>@Html.DisplayNameFor(m => m.SkillDescription)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SkillID</td>
                <td>@item.SkillName</td>
                <td>@item.SkillDescription</td>
            </tr>
        }
    </tbody>
</table>

